<app-header></app-header>
<!-- debut objectif et vision -->
<div class="banniere">
    <img src="El-Migrant/migran.jpg" alt="">
</div>
<p class="text-center mt-3 fw-bold">NOTRE OBJECTIFS</p>
<!-- debut objectifs -->
<div class="objectif">
    <!-- <img src="El-Migrant/Italymigrants 070815.jpg" alt=""> -->
    <img src="El-Migrant/Rectangle 5955.png" alt="">
    <p>L'objectif global de l'action est d'assurer la protection des migrants les plus vulnérables et leur accès aux services de base pour contribuer à une meilleure gestion de la migration notamment au Sénégal.</p>
    
</div>
<p class="texte1">Assurer l'assistance et la protection des migrants. ainsi que leur accès aux services de base  Renforcement des capacités des acteurs institutionnels et locaux à fournir une assistance pour la protection de migrants vulnérables.</p>
<!-- fin objectifs -->

<!-- debut Vision -->

<p class="text-center mt-3 fw-bold">NOTRE VISION</p>
<div class="objectif">
    <p>Assistance Sanitaire : EL MIGRANT s'assure que les migrants aient accès aux soins de santé nécessaires, en les guidant vers les services médicaux et en les aidant à naviguer dans le système de santé.

        Soutien Social et Administratif : L'entreprise accompagne les migrants dans leurs démarches administratives, y compris les formalités d'immigration, et leur offre un soutien social pour faciliter leur intégration.
    </p>
    <img src="El-Migrant/Rectangle 5954.png" alt="">
    <!-- <img src="imageaccueil/elmigrant-image.jpeg" alt=""> -->
    
</div>
<p class="texte2">EL MIGRANT supervise minutieusement chaque aspect de l'accueil des migrants pour garantir une transition en douceur et réduire le stress lié à leur nouvelle situation. L'entreprise offre une évaluation personnalisée pour identifier les besoins spécifiques de chaque individu et leur fournir les solutions les plus adaptées.

    Notre Promesse :
    EL MIGRANT est déterminée à offrir un service exceptionnel et à aider ses clients à surmonter les difficultés liées à la migration. L'entreprise s'engage à être une source de soutien et de réconfort pour les migrants, en veillant à ce qu'ils puissent commencer une nouvelle vie dans les meilleures conditions possibles.</p>
<!-- fin Vision -->

    <!-- fin objectif et vision -->
<app-footer></app-footer>