<!-- debut footer -->
<footer class="mere">
	<div class="container">
		
		<div class="menufooter d-flex ">
            <div class="log">
                <img src="/logo/logomigran.png" alt="">
            </div>
			<div class="space-y-3 ">
				<h3 class="tracking-wide uppercase text-white">Page</h3>
				<ul class="space-y-1">
					<li>
						<a rel="noopener noreferrer" href="#">Accueil</a>
					</li>
					<li>
						<a rel="noopener noreferrer" href="#">A Propos</a>
					</li>
					<li>
						<a rel="noopener noreferrer" href="#">Mission</a>
					</li>
					
				</ul>
			</div>
			<div class="space-y-3">
				<h3 class="tracking-wide uppercase text-white">Liens</h3>
				<ul class="space-y-1">
					<li>
						<a rel="noopener noreferrer" href="#">Qui sommes-nous</a>
					</li>
					<li>
						<a rel="noopener noreferrer" href="#">Politique de confidentialité</a>
					</li>
                    <li>
						<a rel="noopener noreferrer" href="#">Contact</a>
					</li>
				</ul>
			</div>
			<div class="space-y-3">
				<h3 class="uppercase text-white">Réseaux</h3>
				<ul class="space-y-1">
					<li>
						<a rel="noopener noreferrer" href="#">Facebook</a>
					</li>
					<li>
						<a rel="noopener noreferrer" href="#">Instagram</a>
					</li>
                    <li>
						<a rel="noopener noreferrer" href="#">Twitter</a>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
	<div class=" companyfooter text-center text-dark ">© 1968 Company Co. All rights reserved.</div>
</footer>
<!-- fin footer -->