<app-header></app-header>
<!-- debut MISSION-->
<div class="slides-frame " id="mission">
    <div class="slides">
        <div class="slide-1 slide">
            <img src="El-Migrant/migran.jpg" alt="">
        </div>
        <div class="slide-2 slide">
          <img src="El-Migrant/migran.jpg" alt="">
      </div>
      <div class="slide-3 slide">
    </div>
    </div>
</div>
<!-- <div class="banniere">
    <img src="El-Migrant/migran.jpg" alt="">
</div> -->

<p class="text-center mt-3 fw-bold">MISSION</p>
<p class="textemission">La protection englobe toutes les activités visant à faire pleinement respecter les droits de la personne, conformément à la lettre et à l'esprit des textes de loi pertinents. Plus précisément, la protection comprend les activités qui visent à garantir directement les droits individuels ou collectifs, ainsi que les activités qui visent à créer une société dans laquelle les droits individuels et collectifs sont reconnus et respectés.
    L'aide comprend toutes les activités de soutien direct qui visent les individus et leurs familles, leurs communautés, ainsi que des interventions plus larges au niveau structurel et le soutien aux gouvernements en tant que débiteurs d’obligations. L'aide aux individus et aux familles peut inclure un soutien pour répondre aux besoins immédiats, à moyen ou à long terme, notamment en matière de nourriture, d'abri et de logement, de soins de santé, d'éducation et de formation, d'emploi et/ou de génération de revenus, d'évaluation des familles et de regroupement familial, de conseil, d'orientation, de retour dans la sécurité et la dignité et/ou de réintégration durable.</p>
<!-- debut objectifs -->
<div class="migrationsraj">
    <div>
        <img src="El-Migrant/jif-afrique.jpeg" alt="">
        <p>À l’échelle mondiale, une femme sur trois a subi des violences sexuelles ou des violences commises par un partenaire intime au moins une fois dans sa vie1 . Même si la violence faite aux femmes et aux filles migrantes est vraisemblablement beaucoup plus élevée du fait de leur situation de vulnérabilité, aggravée par les formes multiples et croisées de discrimination auxquelles elles sont confrontées2 , on constate un manque de données et d’analyses complètes sur la problématique3 . En outre, on note l’absence significative de données sur l’exploitation, les abus et la violence dont sont victimes les travailleuses migrantes, en particulier dans les emplois peu qualifiés.</p>
    </div>
    <div class="title">
        <h3>MIGRATION ET SRAJ</h3>
    </div>
</div>
<div class="migrationvgb">
    <div class="title">
        <h3>MIGRATION ET VGB</h3>
    </div>
    <div>
        <img src="imageaccueil/conctact.png" alt="">
        <p>Les violences sexuelles basées sur le genre en contexte de migration . Il s’agit de combattre la violence basée sur le genre à l’encontre des femmes et des filles migrantes Il est essentiel d’intégrer la lecture de genre dans la prise en charge des violences sexuelles, d’élaborer des réponses stratégiques et d’empowerment, pour les victimes, les proches, les relais communautaires, ainsi que pour les professionnel·le·s médico-psycho-juridico-sociaux. Ainsi, on engage une lutte contre l’impunité, en respectant le rythme de la victime tout en prenant soin de soi .</p>
    </div>
</div>
<div class="migrationgenre ">
    <div>
        <img src="El-Migrant/festival jeunesse-panafrique.jpeg" alt="">
        <p>À l’échelle mondiale, une femme sur trois a subi des violences sexuelles ou des violences commises par un partenaire intime au moins une fois dans sa vie1 . Même si la violence faite aux femmes et aux filles migrantes est vraisemblablement beaucoup plus élevée du fait de leur situation de vulnérabilité, aggravée par les formes multiples et croisées de discrimination auxquelles elles sont confrontées2 , on constate un manque de données et d’analyses complètes sur la problématique3 . En outre, on note l’absence significative de données sur l’exploitation, les abus et la violence dont sont victimes les travailleuses migrantes, en particulier dans les emplois peu qualifiés.</p>
    </div>
    <div class="title">
        <h3>MIGRATION ET GENRE</h3>
    </div>
</div>
<!-- fin MISSION -->
<app-footer></app-footer>
