<app-header></app-header>
<!-- debut accueil -->
<div class="banniere">
    <img src="logo/el-migrant.jpeg" alt="">
</div>
    <p class="text-center mt-3 fw-bold">QUI SOMME-NOUS</p>

    <div class="sequilfautsavoir">
        <img src="imageaccueil/quisommenous.png" alt="">
        <p>EL-MIGRANT est une association qui évolue dans la prise en charge des migrants en situation vulnérable à travers le sénégal.
            C’est une association qui vise à prendre en charge les besoins des migrants et à défendre leurs intérêts dans les domaines politique, économique et social.
            Unir les membres animés d’un même idéal et créer entre eux des liens d’entente et de solidarité
            créer une interaction directe entre les migrants, les différentes organisations et les partenaires pour un développement durable d’une part,
            faciliter une participation active de ses membres et autres acteurs du milieu pour l’amélioration des conditions de vie des migrants d’autre part.
        </p>

    </div>
    <p class="text-center mt-3 fw-bold">OBJECTIFS</p>
    <div class="object">
        <p class="text-center mt-3 fw-bold">Objectifs principaux</p>
        <p class="text-center">L'objectif global de l'action est d'assurer la protection des migrants les plus vulnérables et leur accès aux services de base pour contribuer à une meilleure gestion de la migration notamment au Sénégal.</p>
        <p class="text-center mt-3 fw-bold">Objectifs specifiques</p>
        <p class="text-center">Assurer l'assistance et la protection des migrants. ainsi que leur accès aux services de base  Renforcement des capacités des acteurs institutionnels et locaux à fournir une assistance pour la protection de migrants vulnérables.</p>
    </div>
    <p class="text-center mt-3 fw-bold">NOS VALEURS</p>

    <div class="valeurdelmigran d-flex justify-content-around">
        <div id="valeur1">
            <img src="imageaccueil/valeur 1.png" alt="">
            <div class="textvaleur">
                <p class="text-center mt-3 fw-bold">JUSTICE SOCIALE ET ÉQUITÉ</p>
                <p>EI-MIGRANT défend un développement humain qui donne à toutes et à tous les mêmes possibilités de se réaliser socialement, politiquement et économiquement. Nous prônons un développement soucieux de l’égalité et de la solidarité, notamment entre les sexes et entre les générations.</p>
                <!-- car les succès du présent ne doivent pas être acquis au détriment d’une partie de la population ou des générations futures. Le renforcement des liens constitue pour nous un défi majeur. -->
            </div>
        </div>
        <div id="valeur2">
            <img src="imageaccueil/valeur2.png" alt="">
            <div class="textvaleur">
                <p class="text-center mt-3 fw-bold">DROITS</p>
                <p>EI-MIGRANT plaide pour la reconnaissance universelle des droits civils, politiques, économiques, sociaux et culturels des migrants et pour leur mise en œuvre pour toutes et tous, partout, à travers des processus de participation et d’appropriation politiques et sociales.</p>
            </div>
        </div>
        <div id="valeur3">
            <img src="imageaccueil/elmigrant-image.jpeg" alt="">
            <div class="textvaleur">
                <p class="text-center mt-3 fw-bold">BIEN-ÊTRE, LIBERTÉ ET RESPONSABILITÉ</p>
                <p>EI-MIGRANT considère que le bien-être des sociétés ne se mesure pas seulement par des indicateurs économiques, mais aussi par la capacité des personnes qui les composent à exercer des choix éclairés et autonomes, tout en assumant leurs responsabilités dans les collectifs auxquels elles appartiennent.</p>
            </div>
        </div>
       
    </div>
    <div class="strateg d-flex">
        <img src="imageaccueil/strategie1.png" alt="">
        <div class="para">
            <!-- class="text-center mt-3 fw-bold" -->
            <strong class="m-lg-5">La  stratégie d’EI-MIGRANT est conduite suivant 3 principes :</strong>
            <p>EI-MIGRANT a choisi une stratégie d’alliances et de partenariats multi-acteurs (OSC, parlementaires, journalistes, chercheurs, fonctionnaires, experts techniques,…) qui s’appuie sur la complémentarité des savoir-faire et renforce l’adaptabilité et la réactivité.</p>
        </div>
    </div>
    <!-- Strategie -->
    <div class="stra">
        <div class="straelmigran bg-body-secondary m-4">
            <img src="imageaccueil/stategie.png" alt="">
            <p class="fw-bold">RÉSEAU : TRAVAILLER EN RÉSEAUX</p>
            <p>EI-MIGRANT collabore avec des  organisations de solidarité internationales (OSI), structures de recherche et universités, institutions publiques, entreprises… en France, en Europe et en Afrique francophone subsaharienne. L’association s’implique, en contribuant aux travaux et aux prises de position collectifs, en coordonnant des groupes de travail ou en participant aux organes associatifs (conseil d’administration).</p>
        </div>
        <div class="straelmigran bg-body-secondary m-4">
            <img src="imageaccueil/quisommenous.png" alt="">
            <p class="fw-bold">PARTENARIAT : NOUER DES PARTENARIATS</p>
            <p>EI-MIGRANT a choisi une stratégie d’alliances et de partenariats multi-acteurs (OSC, parlementaires, journalistes, chercheurs, fonctionnaires, experts techniques,…) qui s’appuie sur la complémentarité des savoir-faire et renforce l’adaptabilité et la réactivité.</p>
        </div>
        <div class="straelmigran bg-body-secondary m-4">
            <img src="imageaccueil/accmigran.png" alt="">
            <p class="fw-bold">PARTICIPATION : ADOPTER UNE DÉMARCHE PARTICIPATIVE</p>
            <p>EI-MIGRANT adopte aussi systématiquement que possible une démarche participative dans la conduite de son action. A travers un dialogue continu, l’objectif est d’associer étroitement les différentes parties-prenantes à notre action : associations, personnel sanitaire et social, parlementaires, décideurs et populations des zones d’intervention.</p>
        </div>
    </div>
    <!-- Mission -->
    <div class="miss">
        <div class="immission">
            <img src="imageaccueil/accmigran.png" alt="">
        </div>
        <div class="missiontext">
            <strong class="text-center">MISSION</strong>
            <p>La protection englobe toutes les activités visant à faire pleinement respecter les droits de la personne, conformément à la lettre et à l'esprit des textes de loi pertinents. Plus précisément, la protection comprend les activités qui visent à garantir directement les droits individuels ou collectifs, ainsi que les activités qui visent à créer une société dans laquelle les droits individuels et collectifs sont reconnus et respectés.
                L'aide comprend toutes les activités de soutien direct qui visent les individus et leurs familles, leurs communautés, ainsi que des interventions plus larges au niveau structurel et le soutien aux gouvernements en tant que débiteurs d’obligations. L'aide aux individus et aux familles peut inclure un soutien pour répondre aux besoins immédiats, à moyen ou à long terme, notamment en matière de nourriture, d'abri et de logement, de soins de santé, d'éducation et de formation, d'emploi et/ou de génération de revenus, d'évaluation des familles et de regroupement familial, de conseil, d'orientation, de retour dans la sécurité et la dignité et/ou de réintégration durable.</p>
                <button>Voir plus</button>
        </div>
    </div>
    <div>
        <p class="text-center mt-3 fw-bold">FAIRE UN DON</p>
    </div>
    <div class="don bg-danger mb-4 w-50">
        <div>
        <strong class="text-center"> VOTRE DON CHANGE DES VIES</strong>
        <p class="w-100">
            EI-MIGRANT est une association, non lucrative et d’intérêt général.
            Grâce à votre soutien, EI-MIGRANT intensifiera son travail pour défendre les droits et la santé des migrants en situation vulnérable en Afrique de l’Ouest. Merci pour cette contribution précieuse à la construction de sociétés plus justes et égalitaires!
            Vous pouvez envoyer un chèque libellé à l’ordre d’EI-MIGRANT à l’adresse suivante :
            Dans les deux cas, veuillez impérativement nous communiquer par courrier, à l’adresse ci-dessus, vos nom, prénom, adresse postale et adresse électronique afin que nous puissions vous renvoyer un reçu
        </p>
            <button>FAIRE UN DON</button>  
        </div>
              <!-- <div class="imagdon">
                <img src="imageaccueil/logo-faire-un-don.jpg" alt="">
            </div> -->
    </div>
   
    <p class="text-center mt-3 fw-bold"> NOS PARTENAIRES</p>
    <div class="partenaire">
        <img src="El-Migrant/image 2.png" alt="">
        <img src="El-Migrant/image 3.png" alt="">
        <img src="El-Migrant/image 29.png" alt="">
        <img src="El-Migrant/logo-anamo2-hghh1 1.png" alt="">
    </div> 
   
    <p class="text-center mt-3 fw-bold"> CONTACT</p>

     <!-- debut formulaire -->

    <div class="wrapper d-flex">
        <form class="form">
          <div class="pageTitle title">S'inscrire </div>
          <div class="secondaryTitle title">"Veuillez remplir ce formulaire pour vous inscrire."</div>
          <input type="text" class="name formEntry" placeholder="Nom" />
          <input type="text" class="email formEntry" placeholder="Email"/>
          <textarea class="message formEntry" placeholder="Message"></textarea>
          <input type="checkbox" class="termsConditions" value="Term">
          <label style="color: grey" for="terms"> I Accept the <span style="color: #0e3721">Terms of Use</span> & <span style="color: #0e3721">Privacy Policy</span>.</label><br>
          <button class="submit formEntry" onclick="thanks()">Envoyer</button>
        </form>
        <img src="El-Migrant/photocontact.avif" alt="">
      </div>
      <!-- fin formulaire -->
      
      

<!-- fin accueil -->

<app-footer></app-footer> 